/* ---------------------------- */
/* COMPANY
/* ---------------------------- */
.company{
  .inner{
    padding-bottom: 120px;
    @include underTab{
      padding-bottom: 80px;
    }
    .company-content{
      padding-bottom: 40px;
      .company-title{
        border-bottom: 1px solid cl(black-news_border);
        margin-bottom: unset;
        padding-bottom: 30px;
      }
      .company-list{
        width:calc((800 /1100) * 100%);
        margin-left:auto;
        @include underTab{
          width:calc((678 /708) * 100%);
        }
        @include underSP{
          width:100%;
        }
        .row{
          border-bottom: 1px solid cl(black-news_border);
          display:flex;
          padding:20px 0;
          @include underSP{
            font-size: 1.4rem;
          }
          .item-name{
            font-weight: bold;
            width:80px;
            padding-right:64px;
          }
        }
      }
    }
    .map{
      background: url("../img/about/スクリーンショット 2020-01-05 13.45.10@2x.png") no-repeat top 64% left 30% / 110%;
      height:360px;
      @include underTab{
        height:230px;
      }
      @include underSP{
        height:470px;
        background: url("../img/about/スクリーンショット 2020-01-05 13.45.10@2x.png") no-repeat top 64% left 59%/437%;
      }
    }
  }
}